/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* These are some generic design choices for colour schemes, fonts, gutters and gaps */
:root {
    /* Color Schemes */
    --clr-primary: #1389b2;
    --clr-secondary: #0cd6a1;
    --clr-tertiary: #ffd166;
    --clr-accent: #f0466f;
    
    --clr-neutral-dark: hsl(207, 19%, 5%);
    --clr-neutral-grey: hsl(203, 36%, 22%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    

    /* FONT */
    --fontfamily-default: 'Roboto', Helvetica, Arial, sans-serif;
    --fontweight-default: 400;
    --fontsize-default: 1rem;

    /* Spacing */
    --flow-spacing: 1em;

    /* --sm-breakpoint: 576px;
    --md-breakpoint: 768px;
    --lg-breakpoint: 992px;
    --xl-breakpoint: 1200px;
    --xxl-breakpoint: 1400px; */
}

