/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
}
/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/*#region aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}
/*#endregion aesthetic elements */

/*#region Color scheme */
.bg-clr-primary {
  background-color: var(--clr-primary);
}

.bg-clr-secondary {
  background-color: var(--clr-secondary);
}

.bg-clr-tertiary {
  background-color: var(--clr-tertiary);
}
/*#endregion Color scheme */
/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
body {
    min-height: 100vh;
    line-height: 1.5;
    background: linear-gradient(-60deg, var(--clr-neutral-dark), var(--clr-neutral-grey)) ;
    color: var(--clr-neutral-white);
    font-family: 'Roboto', monospace, sans-serif;
  }
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
.box {
    gap: .5em;
}

.box-cell {
    width: calc(100% / 10 - .5em);
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    cursor: pointer;

    transition: background-color 400ms ease;
}

.box-cell.active {
  background-color: var(--clr-neutral-white);
}


/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
/* ********************************* */
/*#region MEDIA HOVER */

/*#endregion MEDIA HOVER */
@media (hover) {
    .box-cell:hover,
    .box-cell:active {
      background-color: lightseagreen;
    }
  }
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */